.chart-background {
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;

    outline-style: solid;
    outline-color: #646F75;
    outline-width: 0.06rem;
}

.chart-tags {
    margin: 1.25rem auto 0;
    min-width: 400px;
    width: 43%;
    max-width: 720px;
}
