/*button.btn-close {*/
/*    background-color: #80DBB3;*/
/*}*/

.modal-content {
    background-color: #333D42;
}

.modal-content .modal-header {
    background-color: #262d31;
}

.modal-content .modal-header h5 {
    color: #d5d6d7;
}

/*.modal-content .modal-body {*/
/*    background-color: #262d31;*/
/*}*/

.modal-content .modal-body p {
    color: #d5d6d7;
}

.modal-body .modal-footer {
    background-color: #131c21;
}


.modal-content {
    color: #d5d6d7;
}

.modal-footer {
    background-color: #262d31;
}

.modal-header h4 {
    color: #d5d6d7;
}

.input-title {
    color: #9ea0a3;
}

.progress {
    background-color: #131c21;
}

.progress-bar {
    background-color: #35cd96;
}

#ptGoalText {
    color: #131c21;
    font-size: large;
    /*font-weight: 600;*/
    text-align: center;
}

#spendingGoalText {
    color: #131c21;
    font-size: large;
    /*font-weight: 600;*/
}

#spendingGoalDescription {
    color: #9ea0a3;
}
#ptGoalDescription {
    color: #9ea0a3;
}

.btn-close {
    background-color: #9ea0a3;
    background:;
}
